.sidebar{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    left: 0px;
    top: 55px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.homepageimg{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.homepage{
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subscriptionsimg{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.subscriptions{
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    
}

.exploreimg{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.explore{
    align-items: center;
    width: 80px;
    height: 80px;
    
}

.youtube-musicimg{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.youtubemusic{
    align-items: center;
    width: 80px;
    height: 80px;
    
}

.libraryimg{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.library{
    align-items: center;
    width: 80px;
    height: 80px;
    
}
