
p{
    font-family: Roboto, Arial;
}

.maingrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 40px;

}
/* this is the code for video one including all thumbmai,channelimg and all*/
.thumnail1{
    width: 100%;
    
   
    
}
.vidtitle1{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    
    
}
.video1{
         
}
.channelprofile1{
        display: inline-block;
        width: 35px;
        vertical-align: top;
        margin-right: 10px;
}
    .videorow1{
        margin-top:12px;
        margin-bottom: 0px;
}
.profile1{
        width: 100%;
        
}
.videodetail1{
        display: inline-block;
        width: 200px;
        
}
.channelname1{
        font-size: 14px;
        margin-bottom: 4px;
        margin-top: 0px;
        color: rgb(116, 116, 116);
}
.views1{
        font-size: 14px;
        margin-top: 0px;
        color: rgb(128, 128, 128);
}

/* this is the code for video two including all thumbmai,channelimg and all*/
.thumnail2{
    width: 100%;
    
}
.vidtitle2{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    
}
.video2{
      
}
.channelprofile2{
        display: inline-block;
        width: 35px;
        vertical-align: top;
        margin-right: 10px;
}
    .videorow2{
        margin-top:12px;
        margin-bottom: 0px;
}
.profile2{
        width: 100%;
        
}
.videodetail2{
        display: inline-block;
        width: 200px;
        
}
.channelname2{
        font-size: 14px;
        margin-bottom: 4px;
        margin-top: 0px;
        color: rgb(116, 116, 116);
}
.views2{
        font-size: 14px;
        margin-top: 0px;
        color: rgb(128, 128, 128);
}

/* this is the code for video three including all thumbmai,channelimg and all*/
.thumnail3{
    width: 100%;
    
}
.vidtitle3{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    
}
.video3{
      
}
.channelprofile3{
        display: inline-block;
        width: 35px;
        vertical-align: top;
        margin-right: 10px;
        
}
    .videorow3{
        margin-top:12px;
        margin-bottom: 0px;
}
.profile3{
        width: 100%;
        border-radius: 30px;
        
}
.videodetail3{
        display: inline-block;
        width: 200px;
        
}
.channelname3{
        font-size: 14px;
        margin-bottom: 4px;
        margin-top: 0px;
        color: rgb(116, 116, 116);
}
.views3{
        font-size: 14px;
        margin-top: 0px;
        color: rgb(128, 128, 128);
}